section {
    height: 30em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 70%;
}

img {
    width: 300px;
}

input {
    width: 90%;
    margin: 10px;
    padding: 1em;
    outline: none;
    border: 0.5px solid rgba(49, 49, 49, 0.17);
    border-radius: 25px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-image: url(/images/search_black_24dp.svg);
    padding: 12px 20px 12px 40px;
}

input:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.19);
}

.form-main {
    width: 100%;
    margin: 1em;
}

.btn-search {
    margin: 0.5em;
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
}

header {
    display: flex;
    margin: 1em;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    margin: 5px;
    color: black;
    font-size: small;
}

a:hover {
    text-decoration: underline;    
}