section {
    height: 30em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 50%;
}

img {
    width: 300px;
}

.form-main input{
    width: 400px;
    margin: 2em;
}

.btn-search {
    margin: 0.5em;
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;;
}

header {
    display: flex;
    margin: 1em;
    background-color: blue;
}

header a {
    text-decoration: none;
}

.right-nav {
    background-color: aqua;
}